<div class="box">
  <h1 class="title">Registro De Sesion</h1>
  <form class="form">
    email: <input type="email" name="mail" placeholder=" email">
    <br><br>
    Username: <input type="text" name="user" value="user" placeholder="username" minlength="4" maxlength="12" required>
    <br><br>
    Password: <input type="password" name="pass" value="pass" placeholder="password" minlength="5" maxlength="12" required>
    <br><br>
    Confirmar Password: <input type="password" name="pass" value="pass" placeholder="password" minlength="5" maxlength="12" required>
    <div class="links"><a routerLink="/access"><button class="btn btn-lg btn-success">acceso</button></a></div>
  </form>
</div>
