
<div class="box">
  <h1 class="title">Iniciar sesión</h1>
  <form class="form">
    email: <input type="email" name="mail" placeholder=" email">
    <br><br>
    Username: <input type="text" name="user" placeholder="username" minlength="4" maxlength="12" required>
    <br><br>
    Password: <input type="password" name="pass" placeholder="password" minlength="5" maxlength="12" required>
    <br><br>
    <div class="links"><a routerLink="/access"><button class="btn btn-lg btn-success">acceso</button></a></div>
    <div class="links"><a routerLink="/user"><button class="btn btn-lg btn-primary">registro</button></a></div>
  </form>
</div>

